.about
  padding: 46px 0 0
  &__title
    margin: 0
    text: #000000 24px 29px 500
  &-list
    margin-top: 40px
    margin-bottom: 40px
    position: relative
    &:before
      position: absolute
      content: ''
      display: block
      size: 1px auto
      background: #DDDADA
      left: 115px
      top: 10px
      bottom: 10px
    &__item
      text: #23283C 18px 22px
      padding: 0 0 0 145px
      position: relative
      margin-bottom: 50px
      &:last-child
        margin-bottom: 0
        &:after
          size: 13px auto
          background: $colorWhite
          display: block
          content: ''
          position: absolute
          bottom: 0
          top: 18px
          left: 109px
      &:before
        size: 13px
        border-radius: 100%
        border: 3px solid #F2994A
        background: #fff
        display: block
        content: ''
        position: absolute
        top: 5px
        left: 109px
    &__year
      text: #525978 36px 44px bold
      position: absolute
      top: -10px
      left: 0
