.breadcrumbs
  box: wrap
  &__item
    text: $colorWhite 14px 17px
    margin-right: 10px
    .icon--right-arrow
      size: 6px 10px
      fill: $colorWhite
      margin-top: 3px
  &__link
    text: #BDBDBD
    text-decoration: none
    &:hover
      text: #F2994A
