.comments
  padding: 60px 0
  &-slider
    margin: 30px -15px 0
    &__item
      outline: 0!important
      padding: 0 15px 20px
    &__inner
      transition: 0.3s all ease
      display: block
      text-decoration: none
      outline: 0!important
      &:hover
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
        .comments-slider__img
          &:before
            opacity: 1
            visibility: visible
            transform: scale(1)
        .comments-slider__play
          opacity: 1
          visibility: visible
    &__img
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      height: 208px
      display: block
      cursor: pointer
      position: relative
      &:before
        position: absolute
        top: 0
        left: 0
        content: ''
        display: block
        size: 100%
        background: rgba(35, 40, 60, 0.8)
        opacity: 0
        visibility: hidden
        transform: scale(0)
        transition: 0.3s all ease
    &__cont
      min-height: 60px
      background: #F8F8F8
      text: center
      padding: 10px 15px
    &__name
      text: #000 18px 22px
    &__stat
      text: #525978 14px 17px
    &__play
      position: absolute
      size: 81px
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      z-index: 10
      opacity: 0
      visibility: hidden
      transition: 0.3s all ease
      &:before ,
      &:after
        display: block
        position: absolute
        content: ''
        background-position: center
        background-repeat: no-repeat
        background-size: cover
      &:before
        background-image: svg-load("icons/ellipse-1.svg")
        size: 81px
        top: 0
        left: 0
        animation: rotating 5s linear infinite
      &:after
        size: 61px
        top: 10px
        left: 10px
        background-image: svg-load("icons/ellipse-2.svg")
        animation: rotating-less 5s linear infinite
      .icon
        fill: #f3994b
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        margin-left: 4px
        margin-top: -1px
    &__arrow
      position: absolute
      top: -70px
      cursor: pointer
      &--next
        right: 21px
      &--prev
        right: 61px
      .icon
        transition: 0.3s all ease
        fill: #505976
        size: 18px 30px
      &:hover
        .icon
          fill: #f0994a
      &.slick-disabled
        cursor: default
        opacity: 0.5
        .icon
          fill: #ccc!important
