.contacts
  &__map
    height: 500px
  &__inner
    position: relative
    .map__info
      position: absolute
      top: 81px
      left: 15px
      z-index: 100
      background: #F8F8F8
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
      width: 371px
    .map__list
      padding-left: 61px
