.feedback
  background: url("$rootUrl/feedback.jpg") no-repeat center
  background-size: cover
  margin: 35px 0 0
  .main-container
    position: relative
    height: 248px
    padding-top: 40px
    &:before
      content: ''
      display: block
      background: url("$rootUrl/feedback-girl.png") no-repeat center
      background-size: cover
      size: 299px 324px
      position: absolute
      bottom: 0
      left: 916px
  &__title
    text: $colorWhite 24px 29px 500
    margin-bottom: 28px
  .form-inline
    margin-bottom: 9px
