#footer
  min-height: 144px
  background: #23283C
.footer
  &__inner
    position: relative
    padding-left: 205px
  &__logo
    position: absolute
    top: 2px
    left: -34px
    display: inline-block
    vertical-align: top
    z-index: 10
  &__nav
    padding-top: 36px
    &-item
      display: inline-block
      vertical-align: top
      margin-left: 41px
      &:first-child
        margin-left: 0
    &-link
      text: $colorWhite 18px 1
      display: block
      transition: 0.3s all ease
      text-decoration: none
      &:hover,
      &--active
        text: #F2994A
  &__bottom
    border-top: 1px solid #363C52
    margin: 26px 0 0
    padding-top: 20px
  &__copylang
    text: #A7B2C7 12px 15px
  &__dev
    text: #A7B2C7 14px 1
    &-logo
      display: inline-block
      vertical-align: top
      margin-top: 1px
      margin-left: 10px
      size: 77px 12px
      background: url("$rootUrl/dev.png") no-repeat center
      background-size: cover
