#header
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 500
  .main-container
    max-width: 1260px
    @media (max-width: 1024px)
      padding-left: 0
      padding-right: 0
.header
  &__inner
    background: #23283C @lg rgba(35, 40, 60, 0.9)
    min-height: 43px @lg 124px
    position: relative
    @media $lg-down
      &:before
        position: absolute
        top: 43px
        left: 50%
        margin-left: -50px
        z-index: 30
        size: 100px 7px
        background: #23283C
        border-radius: 0px 0px 100px 100px
        content: ''
        display: block
  &__btn
    position: absolute
    top: 11px
    left: 15px
    display: block @lg none
    cursor: pointer
    span
      display: block
      size: 30px 2px
      background: $colorWhite
      margin-top: 8px
      position: relative
      transition: 0.3s all ease
      &:first-child
        margin-top: 0
      &:nth-child(2)
        width: 20px
    &--active
      span
        &:nth-child(1)
          transform: rotate(45deg)
          top: 10px
        &:nth-child(2)
          transform: translate(-100px,0)
          opacity: 0
          width: 30px
        &:nth-child(3)
          transform: rotate(-45deg)
          top: -10px
  &__m-phone
    position: absolute
    top: 11px
    right: 15px
    display: block @lg none
    .icon
      fill: $colorWhite
  &__logo
    position: absolute
    top: 0
    left: 50% @lg 15px @xl 37px
    @media $lg-down
      size: 65px 43px
      margin-left: -32.5px
      z-index: 50
  &__cont
    padding-left: 200px @xl 230px
    @media $lg-down
      overflow: hidden
      position: absolute
      top: 43px
      left: 0
      width: 100%
      background: rgba(35, 40, 60, 0.97)
      padding: 0 0 23px
      box: wrap
      z-index: 20
      visibility: hidden
      opacity: 0
      transform: translate(-100%,0)
      transition: 0.3s all ease
      &--active
        transform: translate(0,0)
        opacity: 1
        visibility: visible
      .header__top
        order: 2
        width: 100%
      & >  .flex-p-wrap
        order: 1
        width: 100%
        margin: 0
        & > .col-auto
          flex: 0 0 100%
          max-width: 100%
          width: 100%
          padding: 0
      .header__btn-order
        display: none
  &__top
    border-bottom: 0 @lg 1px solid #29304a
    height: auto @lg 47px
    @media $lg-down
      .col-auto
        width: 100%
  &__vk
    display: block @lg inline-block
    vertical-align: top
    margin: 30px auto 0 @lg 17px 0 0
    @media $lg-down
      size: 22px
      .icon--vk
        size: 22px
  &__email
    display: block @lg inline-block
    vertical-align: top
    margin: 20px 0 0 @lg 17px 0 0 21px
    text-decoration: none
    text: #BDBDBD 14px 14px
    .icon
      fill: #BDBDBD
      margin-right: 10px
      size: 14px
    @media $lg-down
      text: $colorWhite 18px 22px center
      .icon
        display: none
  &__phone
    text: $colorWhite 18px 22px center @lg left
    display: block @lg inline-block
    vertical-align: top
    text-decoration: none
    margin: 20px 0 0 @lg 10px 15px 0 0 @xl 10px 27px 0 0
    position: relative
    &:before
      position: absolute
      size: 100% 2px
      top: 100%
      left: 0
      margin-top: 4px
      background: url("$rootUrl/header-phone-line.png") center
      display: none @lg block
      content: ''
  &__nav
    margin: 60px 0 0 @lg 27px 0 0 @xl 29px 0 0
    @media $lg-down
      border-bottom: 1px solid #31384F
      padding-bottom: 20px
    &-item
      display: block @lg inline-block
      vertical-align: top
      margin-left: 0 @lg 15px @xl 27px
      &:first-child
        margin-left: 0
    &-link
      text: $colorWhite 18px 48px center @lg 16px 1 left  @xl 18px
      display: block
      transition: 0.3s all ease
      text-decoration: none
      &:hover,
      &--active
        text: #F2994A
  &__btn-order
    margin: 12px 15px 0 0 @xl 12px 27px 0 0
    padding: 11px 15px @xl 11px 22px
  &__btn-order-mob
    width: 180px
    margin: 20px auto 0
    display: block @lg none
