
.map
  background: #f8f8f8
  height: 338px
  .main-container
    position: relative
  &__info
    width: 350px
    height: 338px
    position: relative
  &__inner
    height: 338px
    width: 100%
  &__cont
    position: absolute
    top: 0
    left: 365px
    height: 338px
  &__list
    padding: 81px 0 0 34px
    &-item
      text: #525978 16px 20px
      position: relative
      padding-left: 30px
      margin-bottom: 33px
      a
        color: inherit
        text-decoration: none
        &:hover
          text-decoration: underline
    &-icon
      position: absolute
      top: 50%
      left: 0
      width: 30px
      transform: translate(0,-50%)
      .icon
        fill: #191919
