.pagination
  box: horizontal center
  &__item
    margin: 0 5px
  &__link
    display: block
    height: 30px
    width: 30px
    background: #fbfbfb
    transition: 0.3s all ease
    border: 1px solid #D1D1D1
    border-radius: 2px
    text: #525978 18px 28px center
    text-decoration: none
    &:hover ,
    &--active
      text: $colorWhite
      background: #525978
      border-color: #525978
  &__dots
    text: #525978 18px 22px
    padding: 8px 0 0
