.products
  box: wrap
  margin-top: 30px
  &__aside
    flex: 0 0 270px
    max-width: 270px
  &__cont
    flex-basis: 0
    flex-grow: 1
    max-width: 100%
    padding-left: 30px
  &-menu
    background: #FBFBFB
    border-radius: 5px
    margin-top: 30px
    &__item
      border-top: 1px solid #F3F2F2
      &:first-child
        border-top: 0
    &__link
      display: block
      position: relative
      padding: 10px 30px 10px 10px
      text-decoration: none
      text: #23283C 16px 20px
      transition: 0.3s all ease
      .icon
        position: absolute
        top: 15px
        right: 10px
        fill: #23283C
        transition: 0.3s all ease
      &:hover,
      &--active
        text: #F2994A
      &--active
        .icon
          transform: rotate(180deg)
          fill: #F2994A
    &__dropdown
      padding-left: 10px
      .products-menu__link
        text: 14px 17px
      .products-menu__item
        border: 0
      .products-menu__dropdown
        .products-menu__link
          &--active
            &:before
              position: absolute
              top: 50%
              transform: translate(0,-50%)
              left: 0
              size: 6px
              border-radius: 100%
              background: #F2994A
              content: ''
              display: block
  &-list
    box: wrap
    margin: 0 -15px
    &__item
      flex: 0 0 33.3%
      max-width: 33.3%
      padding: 0 15px
      display: block
      text-decoration: none
      margin-bottom: 30px
    &__inner
      position: relative
      background: #fff
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
      &:hover
        .products-list__btn
          opacity: 1
          visibility: visible
          transform: translate(0,0)
    &__img
      height: 198px
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      display: block
      text-decoration: none
    &__name
      text: #23283C 18px 22px
      text-decoration: none
      height: 68px
      overflow: hidden
    &__cont
      padding: 10px 20px
    &__price
      text: #23283C 18px 20px bold
      margin: 9px 0 0
    &__btn
      size: 100% 45px
      border-radius: 0 0 5px 5px
      text: $colorWhite 18px 45px center
      background: #F2994A
      text-decoration: none
      display: block
      position: absolute
      top: 100%
      left: 0
      z-index: 50
      transition: 0.3s all ease
      opacity: 0
      visibility: hidden
      transform: translate(0,50px)
      &:hover
        background: #ff5722
.search
  background: #F8F8F8
  padding: 10px
  position: relative
  &__input
    height: 35px
    width: 100%
    background: #fff
    border-radius: 5px
    padding: 0 40px 0 10px
    border: 0
    outline: 0
    text: #000 14px 17px
    &::placeholder
      text: #525978
  &__submit
    size: 34px 35px
    background: #F2994A
    transition: 0.3s all ease
    border-radius: 0 5px 5px 0
    position: absolute
    top: 10px
    right: 10px
    border: 0
    outline: 0
    text-align: center
    cursor: pointer
    .icon--search
      fill: #fff
    &:hover
      background: #ff5722
.product-inner
  box: wrap
  &__img
    flex: 0 0 370px
    max-width: 370px
    img
      display: block
      width: 100%
  &__cont
    flex-basis: 0
    flex-grow: 1
    max-width: 100%
    padding-left: 30px
  &__status
    text: #F2994A 18px 22px
  &__text
    text: #525978 14px 17px
    margin: 12px 0 0
  &__btn
    margin: 28px 0 0
    padding: 13px 20px
