.services
  margin: 60px 0 0
  &__h2
    margin: 0 0 44px
  &-list
    margin: 8px 0 0
    .col-1-2
      &:last-child,
      &:nth-last-child(2)
        .services-list__item
          margin-bottom: 0
    &__item
      box: wrap
      margin-bottom: 88px
    &__icon
      width: 100px
      align-self: center
      text: center
      .icon
        fill: #f2994a
    &__text
      align-self: center
      flex: 0 0 calc(100% - 100px)
      max-width: calc(100% - 100px) 
