.shipping-payment
  padding: 60px 0 0
  h3
    margin: 0 0 20px
  &__list
    &-item
      position: relative
      padding-left: 71px
      min-height: 50px
      text: #000 18px 22px
      margin-bottom: 8px
    &-num
      text: #F2994A 36px 44px bold
      position: absolute
      top: 0
      left: 0
  &__payment
    &-item
      position: relative
      padding-left: 60px
      min-height: 50px
      text: #000 18px 22px
      margin-bottom: 8px
      span
        display: block
      .icon
        position: absolute
        top: 50%
        left: 0
        fill: #F2994A
        transform: translate(0,-50%)
        &--tractor
          size: 36px 30px
        &--delivery
