.special-list
  margin: 0 -15px
  margin-top: 42px
  box: wrap
  &__wrap
    background: #fbfbfb
    padding: 53px 0 60px
    margin-top: 48px
  &__item
    padding: 0 15px
    flex: 0 0 33.3%
    max-width: 33.3%
    margin-bottom: 30px
  &__inner
    border: 2px solid #F3F3F3
    padding: 17px 20px 20px
  &__title
    text: #23283C 18px 22px 600
    text-decoration: none
    transition: 0.3s all ease
    margin-bottom: 10px
    display: block
    min-height: 76px
    &:hover
      text: #f2994a
  &__slider
    margin: 0 -20px
    &-item
      outline: 0
    &-img
      display: block
      width: 100%
    &-arrow
      position: absolute
      top: 50%
      cursor: pointer
      z-index: 50
      transition: 0.3s all ease
      size: 32px
      background: #f3994b
      margin-top: -16px
      text-align: center
      &:hover
        background: #ff5722
      &.slick-disabled
        display: none!important
      .icon
        margin: 7px 0 0
        fill: $colorWhite
      &-prev
        left: 0
        border-radius: 0 5px 5px 0
      &-next
        right: 0
        border-radius: 5px 0 0 5px
    &-link
      display: block
      position: relative
      &:before,
      &:after
        position: absolute
        display: block
        content: ''
        opacity: 0
        visibility: hidden
        transition: 0.3s all ease
      &:before
        background: rgba(35, 40, 60, 0.4)
        top: 0
        left: 0
        size: 100%
        z-index: 10
        transform: scale(0)
      &:after
        z-index: 20
        top: 50%
        left: 50%
        size: 43px 44px
        transform: translate(-50%,-60%)
        background: svg-load("icons/search.svg", fill: $colorWhite) no-repeat center
        background-size: cover
      &:hover
        &:before ,
        &:after
          opacity: 1
          visibility: visible
        &:before
          transform: scale(1)
        &:after
          transform: translate(-50%,-50%)
  &__info
    margin: 12px 0 0
    &-item
      position: relative
      text: #23283C 18px 25px
      padding-left: 16px
      &:before
        size: 6px
        background: #F2994A
        display: block
        content: ''
        position: absolute
        top: 9px
        left: 0
        border-radius: 100%
  &__price
    text: #23283C 24px 29px bold center
    margin: 19px 0 0
  &__btn
    width: 170px
    margin-top: 10px
  &__more
    width: 280px
    margin: 9px 0 0
    animation: 1s shake infinite
    .icon--pluse
      margin: 2px 12px 0 0
      fill: #f2994a
      transition: 0.3s all ease
    &:hover
      animation: none
      .icon--pluse
        fill: $colorWhite
    
