.welcome
  &-slider
    &__item
      height: 500px @lg 600px @xl 700px
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      outline: 0!important
      &.slick-active
        .welcome-slider__title
          animation: fadeInLeft 1s both
        .welcome-slider__more
          animation: fadeInUp 1s both
    &__inner
      padding: 98px 0 0 @lg 175px 0 0 @xl 275px 0 0
    &__title
      text: $colorWhite 36px 44px 600 @lg 48px 59px
      transition: 0.3s all ease
      opacity: 0
      span
        text: #F2994A
      &--small
        text: 26px 34px @lg  36px 44px
    &__more
      margin: 40px 0 0
      width: 280px @lg 368px
      opacity: 0
    &__svg
      position: absolute
      top: 0
      left: 0
      size: 26px
      transition: 0.3s all ease
      opacity: 0
      z-index: 10
      transform: rotate(-90deg)
    &__circle
      stroke-dashoffset: 226.28
      stroke-dasharray: 226.28
      transition: 2s all ease
    .slick-dots
      width: 100%
      max-width: 1200px
      padding-left: 15px
      padding-right: 15px
      margin: auto
      position: absolute
      bottom: 30px
      left: 0
      right: 0
      @media $lg-down
        text-align: center
      li
        display: inline-block
        vertical-align: top
        size: 26px
        position: relative
        margin-left: 8px
        cursor: pointer
        &:before
          size: 10px
          border-radius: 100%
          background: #C4C4C4
          position: absolute
          top: 50%
          left: 50%
          transition: 0.3s all ease
          margin: -5px 0 0 -5px
          content: ''
          display: block
        &:first-child
          margin-left: 6px
        button
          display: block
          size: 26px
          position: absolute
          z-index: 10
          top: 0
          left: 0
          border-radius: 100%
          border: 1px solid #414141
          text-align: center
          background: transparent
          padding: 0
          margin: 0
          transition: 0.3s all ease
          text: $colorWhite 14px * 600
          outline: 0
          opacity: 0
        &.slick-active
          button
            opacity: 1
          &:before
            opacity: 0
          .welcome-slider__svg
            opacity: 1
          .welcome-slider__circle
            stroke-dashoffset: 150
  &-inner
    background: url("$rootUrl/welcome-bg.jpg") no-repeat center
    background-size: cover
    &__cont
      min-height: 277px
      position: relative
      padding-top: 168px
    &__title
      text: $colorWhite center
      margin: 0
    .breadcrumbs
      position: absolute
      bottom: 8px
      left: 16px
