.btn-r
  display: inline-block
  vertical-align: top
  text: 14px 1 center @lg 18px
  outline: 0
  border: 2px solid
  padding: 11px 15px
  text-decoration: none
  border-radius: 5px
  transition: 0.3s all ease
  &__orange
    border-color: #F2994A
    text: #F2994A
    &:hover
      background: #F2994A
      text: $colorWhite

.btn
  display: inline-block
  vertical-align: top
  text: 14px 1 center @lg 18px
  outline: 0
  padding: 13px 15px
  text-decoration: none
  border-radius: 5px
  transition: 0.3s all ease
  cursor: pointer
  border: 0
  &__orange
    background: #F2994A
    text: $colorWhite
    &:hover
      background: #ff5722
