.form
  &-inline
    display: inline-flex
    flex-wrap: wrap
    &__item
      margin-right: 30px
      .form-row
        margin-top: 8px
      .form-row__input
        width: 270px
    &__submit
      width: 270px
  &-row
    margin-bottom: 15px
    position: relative
    &__input
      text: $colorWhite 18px 22px
      padding: 5px 0
      border: 0
      border-bottom: 1px solid #7A7E90
      background: transparent
      outline: 0
      width: 100%
      &::placeholder
        text: #7A7E90
      &:focus ,
      &:active
        & + .form-row__line
          width: 100%
          left: 0
    &__line
      position: absolute
      top: 32px
      left: 50%
      size: 0 1px
      background: $colorWhite
      display: block
      transition: 0.3s all ease
.checkbox
  display: block
  position: relative
  padding-left: 29px
  padding-top: 1px
  &__input
    position: absolute
    top: 0
    left: 0
    size: 17px
    overflow: hidden
    &-check
      position: absolute
      size: 17px
      border-radius: 3px
      top: 0
      left: 0
      z-index: 10
      border: 1px solid #777
      transition: 0.3s all ease
      .icon
        fill: $colorWhite
        margin: 3px 0 0 2px
        opacity: 0
        visibility: hidden
        transform: scale(0)
        transition: 0.3s all ease
    input[type="checkbox"]
      position: absolute
      top: 0
      left: 0
      opacity: 0
      z-index: 30
      size: 17px
      cursor: pointer
      &:checked
        & + .checkbox__input-check
          background: #f29949
          border-color: #f29949
          .icon
            opacity: 1
            visibility: visible
            transform: scale(1)
  &__text
    text: $colorWhite 14px 17px
