.icon
  display: inline-block
  vertical-align: top
  fill: #000
  &--logo
    size: 160px 107px
  &--vk
    size: 15px
  &--email
    size: 15px
  &--key
    size: 60px
  &--worker
    size: 58px 70px
  &--tractor
    size: 70px 59px
  &--medal
    size: 53px 70px
  &--right-arrow
    size: 11px 18px
  &--left-arrow
    size: 11px 18px
  &--pluse
    size: 15px
  &--play
    size: 33px 35px
  &--check
    size: 12px 9px
  &--place
    size: 22px
  &--clock
    size: 22px
  &--call
    size: 22px
  &--mail
    size: 22px 16px
  &--delivery
    size: 47px 30px
  &--search
    size: 18px
  &--arrow-down
    size: 14px 8px
  &--arrow-top
    size: 14px 8px
  &--phone
    size: 21px
