@keyframes bounceNotifications
  0, 100%
    transform: translate(0,0)
  50%
    transform: translate(0,-2px)

@keyframes rotating
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)
@keyframes rotating-less
  from
    transform: rotate(0deg)
  to
    transform: rotate(-360deg)

.rotating
  animation: rotating 2s linear infinite
