*
  box-sizing: border-box
:after,
:before
  box-sizing: border-box
body
  min-width: 320px
  font-family: $Montserrat
  text: $colorBlack 18px 1.3 400
  background: $colorWhite
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
