.hidden
  display: none
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-justify
  text-align: justify
.text-uppercase
  text-transform: uppercase
a
  color: inherit
  &:hover
    text-decoration: none

.fw-100
  font-weight: 100!important
.fw-300
  font-weight: 300!important
.fw-500
  font-weight: 500!important
.fw-700
  font-weight: 700!important
.fw-bold
  font-weight: bold!important
.fw-900
  font-weight: 900!important

h1
  text: #23283C 36px 44px 600
h2
  text: #23283C 34px 44px bold
h3
  text: #23283C 24px 29px 500

.category-title
  margin: 0
  span
    text: #F2994A
.title-hint
  text: #23283C 24px 29px 500
  margin: 10px 0 0

.category-p-title
  text: #23283C 36px 44px bold
  margin: 42px 0 30px
