.comments
  .main-container
    h2.category-title!="Отзывы наших <br> довольных клиентов"
    .comments-slider 
      .comments-slider__item
        a(href="//www.youtube.com/embed/4xe72U7mXNg?rel=0&amp;controls=0&amp;showinfo=0" data-rel="lightcase:comments-video-1").comments-slider__inner 
          .comments-slider__img(style="background-image: url(img/pic-7.jpg)")
            .comments-slider__play
              svg.icon.icon--play
                use(xlink:href="img/svg-sprite.svg#play")
          .comments-slider__cont
            .comments-slider__name Алексей Ларионов
            .comments-slider__stat пос. Константиновка
      .comments-slider__item
        a(href="//www.youtube.com/embed/4xe72U7mXNg?rel=0&amp;controls=0&amp;showinfo=0" data-rel="lightcase:comments-video-2").comments-slider__inner 
          .comments-slider__img(style="background-image: url(img/pic-7.jpg)")
            .comments-slider__play
              svg.icon.icon--play
                use(xlink:href="img/svg-sprite.svg#play")
          .comments-slider__cont
            .comments-slider__name Алексей Ларионов
            .comments-slider__stat пос. Константиновка
      .comments-slider__item
        a(href="//www.youtube.com/embed/4xe72U7mXNg?rel=0&amp;controls=0&amp;showinfo=0" data-rel="lightcase:comments-video-3").comments-slider__inner 
          .comments-slider__img(style="background-image: url(img/pic-7.jpg)")
            .comments-slider__play
              svg.icon.icon--play
                use(xlink:href="img/svg-sprite.svg#play")
          .comments-slider__cont
            .comments-slider__name Алексей Ларионов
            .comments-slider__stat пос. Константиновка
      .comments-slider__item
        a(href="//www.youtube.com/embed/4xe72U7mXNg?rel=0&amp;controls=0&amp;showinfo=0" data-rel="lightcase:comments-video-4").comments-slider__inner 
          .comments-slider__img(style="background-image: url(img/pic-7.jpg)")
            .comments-slider__play
              svg.icon.icon--play
                use(xlink:href="img/svg-sprite.svg#play")
          .comments-slider__cont
            .comments-slider__name Алексей Ларионов
            .comments-slider__stat пос. Константиновка
      .comments-slider__item
        a(href="//www.youtube.com/embed/4xe72U7mXNg?rel=0&amp;controls=0&amp;showinfo=0" data-rel="lightcase:comments-video-5").comments-slider__inner 
          .comments-slider__img(style="background-image: url(img/pic-7.jpg)")
            .comments-slider__play
              svg.icon.icon--play
                use(xlink:href="img/svg-sprite.svg#play")
          .comments-slider__cont
            .comments-slider__name Алексей Ларионов
            .comments-slider__stat пос. Константиновка
