.feedback
  .main-container 
    .feedback__title Остались вопросы? 
      br
      | Оставьте заявку, мы перезвоним!
    .form-inline 
      .form-inline__item 
        .form-row 
          input(type="text" placeholder="Имя").form-row__input
          .form-row__line
      .form-inline__item 
        .form-row 
          input(type="tel" placeholder="Телефон").form-row__input.phone-mask
          .form-row__line  
      .form-inline__item 
        button.btn.btn__orange.form-inline__submit Отправить
    .form-row 
      label.checkbox
        .checkbox__input
          input(type="checkbox") 
          .checkbox__input-check
            svg.icon.icon--check
              use(xlink:href="img/svg-sprite.svg#check")
        .checkbox__text Нажимая кнопку “Отправить”, вы соглашаетесь с политикой конфиденциальности
