#footer 
  .main-container 
    .footer__inner 
      a(href="").footer__logo
        svg.icon.icon--logo.header__logo
          use(xlink:href="img/svg-sprite.svg#logo")
      .footer__nav 
        .footer__nav-item 
          a(href="").footer__nav-link Главная
        .footer__nav-item 
          a(href="").footer__nav-link Услуги
        .footer__nav-item 
          a(href="").footer__nav-link Доставка и оплата
        .footer__nav-item 
          a(href="").footer__nav-link О компании
        .footer__nav-item 
          a(href="").footer__nav-link Контакты
      .footer__bottom.flex-wrap
        .col-auto 
          .footer__copylang Copyright © 2019 "ЗемляСтрой 2019". Все права защищены.
        .col-auto.ml-auto 
          .footer__dev Создание и разработка
            a(href="").footer__dev-logo
