header#header 
  .main-container
    .header__inner
      .header__btn
        span
        span
        span
      svg.icon.icon--logo.header__logo
        use(xlink:href="img/svg-sprite.svg#logo")
      a(href="tel:+7 (908) 340-67-44").header__m-phone
        svg.icon.icon--phone
          use(xlink:href="img/svg-sprite.svg#phone")
      .header__cont
        .header__top
          .flex-p-wrap
            .col-auto 
              a(href="").header__vk
                svg.icon.icon--vk
                  use(xlink:href="img/svg-sprite.svg#vk")
              a(href="").header__email
                svg.icon.icon--email
                  use(xlink:href="img/svg-sprite.svg#email")
                | ZemlyaStory@yandex.ru
            .col-auto.ml-auto
              a(href="tel:+7 (908) 340-67-44").header__phone +7 (908) 340-67-44
              a(href="").btn-r.btn-r__orange.header__btn-order-mob Заказать звонок
        .flex-p-wrap
          .col-auto 
            .header__nav
              .header__nav-item 
                a(href="").header__nav-link Главная
              .header__nav-item 
                a(href="").header__nav-link Услуги
              .header__nav-item 
                a(href="").header__nav-link.header__nav-link--active Доставка и оплата
              .header__nav-item 
                a(href="").header__nav-link О компании
              .header__nav-item 
                a(href="").header__nav-link Контакты
          .col-auto.ml-auto 
            a(href="").btn-r.btn-r__orange.header__btn-order Заказать звонок
