.map 
  .main-container
    .map__info
      .map__list
        .map__list-item 
          .map__list-icon
            svg.icon.icon--place
              use(xlink:href="img/svg-sprite.svg#place")
          | г. Казань, ул. Гладилова, д.41
        .map__list-item 
          .map__list-icon
            svg.icon.icon--clock
              use(xlink:href="img/svg-sprite.svg#clock")
          | Пн-Вс: 09:00-22:00
        .map__list-item 
          .map__list-icon
            svg.icon.icon--call
              use(xlink:href="img/svg-sprite.svg#call")
          a(href="tel:+7 (908) 340-67-44") +7 (908) 340-67-44
        .map__list-item 
          .map__list-icon
            svg.icon.icon--mail
              use(xlink:href="img/svg-sprite.svg#mail")
          a(href="mailto:ZemlyaStroy@yandex.ru") ZemlyaStroy@yandex.ru
    .map__cont
      #map.map__inner
script(src='//api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript', type='text/javascript')
script.
  ymaps.ready(function () {
      var myMap = new ymaps.Map('map', {
              center: [55.808275068939125, 49.06842449999999],
              zoom: 17
          }, {
              searchControlProvider: 'yandex#search'
          }),

          myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
              hintContent: 'г. Казань, ул. Гладилова, д.41',
              balloonContent: 'г. Казань, ул. Гладилова, д.41'
          });

      myMap.geoObjects.add(myPlacemark);
      myMap.behaviors.disable('scrollZoom');
  });
