.pagination 
  .pagination__item
    a(href="").pagination__link.pagination__link--active 1
  .pagination__item
    a(href="").pagination__link 2
  .pagination__item
    a(href="").pagination__link 3
  .pagination__item 
    .pagination__dots ...
  .pagination__item
    a(href="").pagination__link 14
