.services
  .main-container
    .flex-p-wrap 
      .col-1-2
        h2.services__h2 ЗемляСтрой — строительные услуги в Казани
        p ЗемляСтрой - сеть бригад по общестроительным и инженерным работам в Казани и пригороде. Мы предоставляем услуги мелких строительных работ с 2012 года.
      .col-1-2
        .services-list
          .flex-p-wrap
            .col-1-2
              .services-list__item
                .services-list__icon
                  svg.icon.icon--key
                    use(xlink:href="img/svg-sprite.svg#key")
                .services-list__text Все работы выполняем под ключ.
            .col-1-2
              .services-list__item
                .services-list__icon
                  svg.icon.icon--worker
                    use(xlink:href="img/svg-sprite.svg#worker")
                .services-list__text Большой штат квалифицированных сотрудников.
            .col-1-2
              .services-list__item
                .services-list__icon
                  svg.icon.icon--tractor
                    use(xlink:href="img/svg-sprite.svg#tractor")
                .services-list__text Собственный парк техники.
            .col-1-2
              .services-list__item
                .services-list__icon
                  svg.icon.icon--medal
                    use(xlink:href="img/svg-sprite.svg#medal")
                .services-list__text Работаем с 2012 года.
