.special-list__wrap
  .main-container
    h2.category-title 1 метровые спетики 
      span под ключ
    .title-hint 1 колодец без дна
    .special-list
      .special-list__item
        .special-list__inner
          a(href="").special-list__title Канализация из бетонных ЖБИ колец. 2 бетонных кольца. Диаметр Ø 1 метр  
          .special-list__slider
            .special-list__slider-item
              a(href="img/pic-2.jpg" data-rel="lightcase:myCollection1").special-list__slider-link
                img(src="img/pic-2.jpg", alt="").special-list__slider-img
            .special-list__slider-item
              a(href="img/pic-2.jpg" data-rel="lightcase:myCollection1").special-list__slider-link
                img(src="img/pic-2.jpg", alt="").special-list__slider-img
            .special-list__slider-item
              a(href="img/pic-2.jpg" data-rel="lightcase:myCollection1").special-list__slider-link
                img(src="img/pic-2.jpg", alt="").special-list__slider-img
          .special-list__info 
            .special-list__info-item ЖБ кольцо ⌀ 1 метр - 2 шт.
            .special-list__info-item ЖБ плита ⌀ 1 метр - 1 шт.
            .special-list__info-item Люк полимерный - 1 шт.
            .special-list__info-item Рабочий объем ямы - 1.4 м 3
            .special-list__info-item Глубина ямы - 2 метра
            .special-list__info-item Откопать / закопать яму
            .special-list__info-item Монтаж "под ключ"
          .special-list__price 10 200 ₽
          .text-center 
            a(href="").btn.btn__orange.special-list__btn Заказать
      .special-list__item
        .special-list__inner
          a(href="").special-list__title Канализация из бетонных ЖБИ колец. 3 бетонных кольца. Диаметр Ø 1 метр  
          .special-list__slider
            .special-list__slider-item
              a(href="img/pic-3.jpg" data-rel="lightcase:myCollection2").special-list__slider-link
                img(src="img/pic-3.jpg", alt="").special-list__slider-img
            .special-list__slider-item
              a(href="img/pic-3.jpg" data-rel="lightcase:myCollection2").special-list__slider-link
                img(src="img/pic-3.jpg", alt="").special-list__slider-img
            .special-list__slider-item
              a(href="img/pic-3.jpg" data-rel="lightcase:myCollection2").special-list__slider-link
                img(src="img/pic-3.jpg", alt="").special-list__slider-img
          .special-list__info 
            .special-list__info-item ЖБ кольцо ⌀ 1 метр - 3 шт.
            .special-list__info-item ЖБ плита ⌀ 1 метр - 1 шт.
            .special-list__info-item Люк полимерный - 1 шт.
            .special-list__info-item Рабочий объем ямы - 1.4 м 3
            .special-list__info-item Глубина ямы - 2 метра
            .special-list__info-item Откопать / закопать яму
            .special-list__info-item Монтаж "под ключ"
          .special-list__price 14 800 ₽
          .text-center 
            a(href="").btn.btn__orange.special-list__btn Заказать
      .special-list__item
        .special-list__inner
          a(href="").special-list__title Канализация из бетонных ЖБИ колец. 4 бетонных кольца. Диаметр Ø 1 метр
          .special-list__slider
            .special-list__slider-item
              a(href="img/pic-4.jpg" data-rel="lightcase:myCollection3").special-list__slider-link
                img(src="img/pic-4.jpg", alt="").special-list__slider-img
            .special-list__slider-item
              a(href="img/pic-4.jpg" data-rel="lightcase:myCollection3").special-list__slider-link
                img(src="img/pic-4.jpg", alt="").special-list__slider-img
            .special-list__slider-item
              a(href="img/pic-4.jpg" data-rel="lightcase:myCollection3").special-list__slider-link
                img(src="img/pic-4.jpg", alt="").special-list__slider-img
          .special-list__info 
            .special-list__info-item ЖБ кольцо ⌀ 1 метр - 4 шт.
            .special-list__info-item ЖБ плита ⌀ 1 метр - 1 шт.
            .special-list__info-item Люк полимерный - 1 шт.
            .special-list__info-item Рабочий объем ямы - 1.4 м 3
            .special-list__info-item Глубина ямы - 2 метра
            .special-list__info-item Откопать / закопать яму
            .special-list__info-item Монтаж "под ключ"
          .special-list__price 18 300 ₽
          .text-center 
            a(href="").btn.btn__orange.special-list__btn Заказать
      .special-list__item
        .special-list__inner
          a(href="").special-list__title Канализация из бетонных ЖБИ колец. Перелив 2х2 (4 кольца). Диаметр Ø 1 метр
          .special-list__slider
            .special-list__slider-item
              a(href="img/pic-5.jpg" data-rel="lightcase:myCollection4").special-list__slider-link
                img(src="img/pic-5.jpg", alt="").special-list__slider-img
            .special-list__slider-item
              a(href="img/pic-5.jpg" data-rel="lightcase:myCollection4").special-list__slider-link
                img(src="img/pic-5.jpg", alt="").special-list__slider-img
            .special-list__slider-item
              a(href="img/pic-5.jpg" data-rel="lightcase:myCollection4").special-list__slider-link
                img(src="img/pic-5.jpg", alt="").special-list__slider-img
          .special-list__info 
            .special-list__info-item ЖБ кольцо ⌀ 1 метр - 4 шт.
            .special-list__info-item ЖБ плита ⌀ 1 метр - 1 шт.
            .special-list__info-item Люк полимерный - 1 шт.
            .special-list__info-item Рабочий объем ямы - 1.4 м 3
            .special-list__info-item Глубина ямы - 2 метра
            .special-list__info-item Откопать / закопать яму
            .special-list__info-item Монтаж "под ключ"
          .special-list__price 21 500 ₽
          .text-center 
            a(href="").btn.btn__orange.special-list__btn Заказать
      .special-list__item
        .special-list__inner
          a(href="").special-list__title Канализация из бетонных ЖБИ колец. Перелив 2х2 (4 кольца). Диаметр Ø 1 метр
          .special-list__slider
            .special-list__slider-item
              a(href="img/pic-6.jpg" data-rel="lightcase:myCollection5").special-list__slider-link
                img(src="img/pic-6.jpg", alt="").special-list__slider-img
            .special-list__slider-item
              a(href="img/pic-6.jpg" data-rel="lightcase:myCollection5").special-list__slider-link
                img(src="img/pic-6.jpg", alt="").special-list__slider-img
            .special-list__slider-item
              a(href="img/pic-6.jpg" data-rel="lightcase:myCollection5").special-list__slider-link
                img(src="img/pic-6.jpg", alt="").special-list__slider-img
          .special-list__info 
            .special-list__info-item ЖБ кольцо ⌀ 1 метр - 4 шт.
            .special-list__info-item ЖБ плита ⌀ 1 метр - 1 шт.
            .special-list__info-item Люк полимерный - 1 шт.
            .special-list__info-item Рабочий объем ямы - 1.4 м 3
            .special-list__info-item Глубина ямы - 2 метра
            .special-list__info-item Откопать / закопать яму
            .special-list__info-item Монтаж "под ключ"
          .special-list__price 31 400 ₽
          .text-center 
            a(href="").btn.btn__orange.special-list__btn Заказать
    .text-center 
      a(href="").btn-r.btn-r__orange.special-list__more 
        svg.icon.icon--pluse
          use(xlink:href="img/svg-sprite.svg#pluse")
        | Показать ещё (12)
