-  
  var menu = [
    {
      name: 'History',
      icon: 'chart',
      href: '#',
      active: 'menu__link--active'
    },
    {
      name: 'Trading',
      icon: 'statistics',
      href: '#',
      active: ''
    },
    {
      name: 'Tasks',
      icon: 'settings',
      href: '#',
      active: ''
    },
    {
      name: 'Strategies',
      icon: 'strategy',
      href: '#',
      active: ''
    },
    {
      name: 'Support',
      icon: 'support',
      href: '#',
      active: ''
    }
  ]
  


  
  
  
  
  
