extends layouts/layout-2

block title
  title Main page

block content
  .welcome-inner
    include blocks/header
    .main-container.welcome-inner__cont
      h1.welcome-inner__title О компании
      .breadcrumbs
        .breadcrumbs__item 
          a(href="index.html").breadcrumbs__link Главная
        .breadcrumbs__item 
          svg.icon.icon--right-arrow
            use(xlink:href="img/svg-sprite.svg#right-arrow")
        .breadcrumbs__item О компании
  .main-container
    .about 
      h3.about__title Компания ЗемляСтрой - сеть бригад по общестроительным и инженерным работам в Казани и пригороде. Мы предоставляем услуги мелких строительных работ с 2012 года.
      .about-list
        .about-list__item В 2012 году была сформирована сеть бригад по земельным и демонтажным работам.
          .about-list__year 2012
        .about-list__item ​С 2013 года обустраиваем канализацию от "А" до "Я", от копки ямы под септик, до обустройства ванной комнаты.
          .about-list__year 2013
        .about-list__item ​В 2014 году были подключены поставщики по железо-бетонным кольцам и трубам водоотведени. 2014 год стал для нас настоящим "бумом" и выполнив более 150 заказов, как мелких, так и крупных, стараемся держать этот результат каждый сезон.
          .about-list__year 2014
        .about-list__item 2015 год принес к нам в команду бригады по инженерным коммуникациям и бригады по монолитно-бетонным работам.
          .about-list__year 2015
        .about-list__item С 2016 года с нами работают проектировщики и поставщики инженерных коммуникаций, поставщики бетона и блочных изделей, бригады, занимающиеся кладкой кирпича и кровельными работами.
          .about-list__year 2016
        .about-list__item В 2017 мы начали сотрудничество с дизайнерами и бригадами интерьера и ландшафта. Мы стараемся помочь клиентам не только в выборе проекта и материала, но и выбрать безопастность и комфорт!
          .about-list__year 2017
        .about-list__item 2018 год показал, что растет и наш штат. Появились менеджеры отвечающие за автономную канализацию и септики. Расширили спектр услуг в водоотведении и водоснабжении. Увеличили объем выполненных заказов более чем в два раза. На 2018 год это 312 выполненных объектов.
          .about-list__year 2018
