extends layouts/layout.pug

block title
  title Main page

block content
  .welcome
    include blocks/header
    .welcome-slider
      .welcome-slider__item(style="background-image: url(img/pic-1.jpg)")
        .main-container
          .welcome-slider__inner
            .welcome-slider__title!="Аренда <br> <span>С</span>пец <span>Т</span>ехники"
            a(href="").btn.btn__orange.welcome-slider__more Подробнее
      .welcome-slider__item(style="background-image: url(img/pic-8.jpg)")
        .main-container
          .welcome-slider__inner
            .welcome-slider__title.welcome-slider__title--small!="Самая <span>недорогая</span> <br> Канализация «под ключ» в <br> Казани. <br> Все работы <span>под ключ</span>"
            a(href="").btn.btn__orange.welcome-slider__more Подробнее    
      .welcome-slider__item(style="background-image: url(img/pic-1.jpg)")
        .main-container
          .welcome-slider__inner
            .welcome-slider__title!="Аренда <br> <span>С</span>пец <span>Т</span>ехники"
            a(href="").btn.btn__orange.welcome-slider__more Подробнее
  include blocks/services
  include blocks/special-list
  include blocks/comments
  include blocks/feedback
  include blocks/map
  
