extends layouts/layout-2

block title
  title Main page

block content
  .welcome-inner
    include blocks/header
    .main-container.welcome-inner__cont
      h1.welcome-inner__title Услуги компании землястрой
      .breadcrumbs
        .breadcrumbs__item 
          a(href="index.html").breadcrumbs__link Главная
        .breadcrumbs__item 
          svg.icon.icon--right-arrow
            use(xlink:href="img/svg-sprite.svg#right-arrow")
        .breadcrumbs__item Услуги
  .main-container
    .products
      .products__aside 
        .search
          input(type="text" placeholder="Поиск...").search__input
          button(type="submit").search__submit
            svg.icon.icon--search
              use(xlink:href="img/svg-sprite.svg#search")
        .products-menu
          .products-menu__item
            a(href="").products-menu__link.products-menu__link--active Аренда спец техники (7) 
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
            .products-menu__dropdown
              .products-menu__item
                a(href="").products-menu__link Аренда манипулятора (4)
                  svg.icon.icon--arrow-down
                    use(xlink:href="img/svg-sprite.svg#arrow-down")
              .products-menu__item
                a(href="").products-menu__link.products-menu__link--active Аренда экскаватора (3)
                  svg.icon.icon--arrow-down
                    use(xlink:href="img/svg-sprite.svg#arrow-down")
                .products-menu__dropdown
                  .products-menu__item
                    a(href="").products-menu__link Аренда экскаватора
                  .products-menu__item
                    a(href="").products-menu__link.products-menu__link--active Аренда экскаватора
                  .products-menu__item
                    a(href="").products-menu__link Аренда экскаватора
          .products-menu__item
            a(href="").products-menu__link ЖБИ (4)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Земляные, буровые и фундаментальные работы (15)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Клининговые услуги (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Монтажные работы (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Обслуживание бытовой техники (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Потолки (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Ремонт, отделка (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Сопутствующие услуги (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Строительные услуги (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Трубы (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
      .products__cont 
        .product-inner
          .product-inner__img
            img(src="img/pic-10.jpg")
          .product-inner__cont
            .product-inner__status Под заказ
            .product-inner__text Представляет собой хитросплетение грузовика и крана, и действует по принципу «сам гружу, сам вожу». Благодаря данному внедрение схожих кранов манипуляторов позволяет существенно беречь, так как отпадает надобность в применении сходу 2-ух единиц техники.
            a(href="").btn.btn__orange.product-inner__btn Получить расчёт стоимости
        h3.category-p-title Аренда спец техники
        .products-list
          .products-list__item
            .products-list__inner
              a(href="" style="background-image:url(img/pic-9.jpg)").products-list__img
              .products-list__cont
                a(href="#").products-list__name Аренда манипулятора (сам гружу-вожу) свыше 5 т.
                .products-list__price от 3500 ₽
                a(href="").products-list__btn Заказать
          .products-list__item
            .products-list__inner
              a(href="" style="background-image:url(img/pic-9.jpg)").products-list__img
              .products-list__cont
                a(href="#").products-list__name Аренда манипулятора (сам гружу-вожу) свыше 5 т.
                .products-list__price от 3500 ₽
                a(href="").products-list__btn Заказать
          .products-list__item
            .products-list__inner
              a(href="" style="background-image:url(img/pic-9.jpg)").products-list__img
              .products-list__cont
                a(href="#").products-list__name Аренда манипулятора (сам гружу-вожу) свыше 5 т.
                .products-list__price от 3500 ₽
                a(href="").products-list__btn Заказать
          .products-list__item
            .products-list__inner
              a(href="" style="background-image:url(img/pic-9.jpg)").products-list__img
              .products-list__cont
                a(href="#").products-list__name Аренда манипулятора (сам гружу-вожу) свыше 5 т.
                .products-list__price от 3500 ₽
                a(href="").products-list__btn Заказать
          .products-list__item
            .products-list__inner
              a(href="" style="background-image:url(img/pic-9.jpg)").products-list__img
              .products-list__cont
                a(href="#").products-list__name Аренда манипулятора (сам гружу-вожу) свыше 5 т.
                .products-list__price от 3500 ₽
                a(href="").products-list__btn Заказать
          .products-list__item
            .products-list__inner
              a(href="" style="background-image:url(img/pic-9.jpg)").products-list__img
              .products-list__cont
                a(href="#").products-list__name Аренда манипулятора (сам гружу-вожу) свыше 5 т.
                .products-list__price от 3500 ₽
                a(href="").products-list__btn Заказать
