extends layouts/layout-2

block title
  title Main page

block content
  .welcome-inner
    include blocks/header
    .main-container.welcome-inner__cont
      h1.welcome-inner__title Доставка и оплата
      .breadcrumbs
        .breadcrumbs__item 
          a(href="index.html").breadcrumbs__link Главная
        .breadcrumbs__item 
          svg.icon.icon--right-arrow
            use(xlink:href="img/svg-sprite.svg#right-arrow")
        .breadcrumbs__item Доставка и оплата
  .shipping-payment
    .main-container
      .flex-p-wrap
        .col-1-2
          h3 Оплата поэтапная.
          .shipping-payment__list
            .shipping-payment__list-item 
              span.shipping-payment__list-num 01
              | Оплата материала и оборудования. Авансом, с договором, и в момент покупки или доставки.
            .shipping-payment__list-item 
              span.shipping-payment__list-num 02
              | Техника и монтажная часть оплачивается после работы!
        .col-1-2
          h3 Доставка зависит от объема расстояния:
          .shipping-payment__payment
            .flex-p-wrap
              .col-1-2
                .shipping-payment__payment-item
                  svg.icon.icon--tractor
                    use(xlink:href="img/svg-sprite.svg#tractor")
                  | для спецтехники она начинается от 3000 ₽
              .col-1-2
                .shipping-payment__payment-item
                  svg.icon.icon--delivery
                    use(xlink:href="img/svg-sprite.svg#delivery")
                  | для газелей от 
                  span 1000 ₽
