include ../inc/var.pug
include ../inc/mixins.pug

doctype html
html(lang="ru" dir="ltr").no-js
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    
    block title
      title Maesto
    block head
    link(href="styles/main.css" rel="stylesheet")
    
  body
    #overlay
    main#main.main-2
      block content
    include ../blocks/feedback
    include ../blocks/footer
    block scripts
    script(type="text/javascript" src="scripts/jquery.min.js")
    script(type="text/javascript" src="scripts/libs.min.js")
    script(type="text/javascript" src="scripts/main.js")
    
